.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 9999;
  background: yellow
}

.header {
  background: #464646;
  color: white;
  height: 40px;
  padding: 20px;
  font-size: 30px;
}

.page-title {
  color: darkgray;
  font-size: 30px;
  padding: 20px 0;
}

.setting-group {
  border-top: 2px solid #ddd;
  padding: 20px 0px;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.settings {
  padding-left: 20px;
}

button {
  color: white;
  font-size: 15px;
  padding: 6px;
  height: 25px;
  border-radius: 4px;
}

.settings-button {
  background: #0073d0;

}

.settings-button:hover {
  background: #208fe8;
}

.save-button {

}

.cancel-button {

}
